
body{
    background-color:rgb(10, 88, 82);
font-family: poppins;
 font-style:inherit; 
 width: 100%;  

}

div{background-color: rgb(241, 240, 255);
    width: 60dvh;
    height: 70dvh;
    padding: 10px;
    border-radius: 10px;
    margin-left: 35%;
    justify-content: center;


}
form{
    display:flex;
    flex-direction: column;
    border-radius: 10cm;
    float: inline-start;
    font-family: poppins;
    margin-left: 2px;
}
input{
    width:80%;
    border-color: gold;

}
button{
    width:100px;
}


